.vs/
x64/
Generator/Release/
Generator/x64/
Generator/Debug/
Generator/bin
Generator/obj
Generator/generator
Debug/
*.obj
*.pdb
*.idb
*.tlog
Generator/VirtualTurtleV1.0.0.zip
Generator/known issues and discord.docx
Generator/VirtualTurtleV2.0.0.zip
